POSTGRES_DB=incide
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

JWT_KEY=change_me_min_32_chars_long_secret
JWT_ISSUER=backend
JWT_AUDIENCE=frontend

OTP_HASH_KEY=change_me_min_32_chars_for_otp_hmac
